<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a th:href="@{/index}">홈페이지</a></li>
                <li><a th:href="@{/contract}">근로계약서</a></li>
                <li><a th:href="@{/vacation/form}">휴가원</a></li>
                <li th:if="${session.loginMember != null and session.loginMember.id == 'admin'}">
                    <a th:href="@{/members/memberList}">회원 목록</a>
                </li>
            </ul>
        </nav>


        <!-- Section -->
        <section th:if="${session.loginMember != null}">
            <header class="major">
                <h2>나의 정보</h2>
            </header>

            <ul class="contact">
                <li>
                    <!-- 로그아웃 버튼 -->
                    <div id="logoutSection"></div>
                </li>
                <li class="icon solid fa-user">
                    <span th:text="${session.loginMember.name}">이름</span>
                </li>
                <li class="icon solid fa-building">
          <span th:switch="${session.loginMember.deptCode}">
            <span th:case="'im'">내과</span>
            <span th:case="'gs'">외과</span>
            <span th:case="'ns'">신경외과</span>
            <span th:case="'os'">정형외과</span>
            <span th:case="'cs'">흉부외과</span>
            <span th:case="'ms'">진료지원센터</span>
            <span th:case="*">기타</span>
          </span>
                </li>
                <li class="icon solid fa-briefcase">
          <span th:switch="${session.loginMember.jobType}">
            <span th:case="1">사원</span>
            <span th:case="2">부서장</span>
            <span th:case="3">원장</span>
            <span th:case="4">진료지원</span>
            <span th:case="5">센터장</span>
            <span th:case="6">관리자</span>
            <span th:case="*">기타</span>
          </span>
                </li>
                <li class="icon solid fa-phone">
                    <span th:text="${session.loginMember.phone}">전화번호</span>
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>.
                Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    </div>
</div>




